$text-color: #153461;
$white: #fff;
$btn-bg: #99baed;
$btn-bg-hover: #86ade4;
$title-color: #163561;
$title-color-yellow: #fbb400;
$menu-bg: #a3c1ef;
$card-bg: #fafbff;
$icon-bg: #e5ecfe;
$social-bg: #d3e5ff;
